# dependencies
/node_modules

# next.js build output
/.next/
/out/

# production artifacts
/build

# local env files
.env*.local

# netlify
.netlify

# misc
.DS_Store
*.pem
npm-debug.log*
*.tsbuildinfo
next-env.d.ts
